@import url('bootstrap.css');
@import url('bootstrap-responsive.css');
@import url('orbit.css');

/*	Navbar Adjustments
		============================================= */

		
		@media (max-width: 979px) {
		  body {
		    padding-top: 0;
		  }
		}
		@media (max-width: 767px) {
		  body {
		    padding-right: 20px;
		    padding-left: 0px;
		  }
		  .container-fluid{
			  margin-left: 20px !important;
		  }
		}

		@media (max-width: 480px) {
			/* size down hero unit contents to fit a narrow viewport */
		  .hero-unit {
			  padding: 0;
			  margin: 0;
			  background: transparent;
		  }
		  .hero-unit h1 {
			  font-size: 250%;
		  }
		  .hero-unit h2 {
			  font-size: 180%;
		  }
		}


/* 	Typography Tweaks
		============================================ */
		.alert a {
			font-weight: bold;
		}
		a.btn:hover {
		/* Transition for hovers */
			-webkit-transition: all 0.3s ease;
			-moz-transition: all 0.3s ease;
			-o-transition: all 0.3s ease;
			transition: all 0.3s ease;
		}
		a:focus{
			outline: none;
		}
		
		h1, h2, h3, h4, h5, h6{
			margin: 0px;
		}
		h3{
			font-size: 18px;
			line-height: 27px;
		}
		.active.sidebar-tabs strong{
			font-size: 16px;
		}
		
		input, textarea, .uneditable-input {
			width: 206px !important;
		}
	
/* 	Pills and Tabs
		============================================ */

		.nav-pills li a{
			border-radius: 0px !important;
		}
		.nav-pills li a h3 {
			font-size: 14px;
			line-height: 16px;
		}
		.nav-pills li.active a h3 {
			font-size: 14px;
			color: white;
		}
		#sidebar .well {
			padding: 4px 4px 0 4px;
		}
		
		/*
		#sidenav > li a {
					-webkit-transition: all 0.2s ease;
					-moz-transition: all 0.2s ease;
					-o-transition: all 0.2s ease;
					transition: all 0.2s ease;
		}
		
		#sidenav > li.active a,
		#sidenav > li a:hover {
			margin-left: -10px;
			padding-left: 20px;
		}*/
		
		hr {
		    margin:0px 80px !important;
		    border: 0;
			border-top: 1px solid #BDBDBD;
			border-bottom: 1px solid #ffffff;
			 
		}
		
		select,input,textarea,.well,.btn{
			border-radius: 0px !important; 
		}
		
		.nav > li > a:hover{
			background-color: #D1D1D1;
		}
	
		.carousel-control{
			background: none;
			border: 0 none;
			color: black;
		}
		
		.video-container {
		    position: relative;
		    padding-bottom: 56.25%;
		    padding-top: 30px; height: 0; overflow: hidden;
		}

		.video-container iframe,
		.video-container object,
		.video-container embed {
		    position: absolute;
		    top: 0;
		    left: 0;
		    width: 100%;
		    height: 100%;
		}
		
		.input-prepend i{
			margin-top: 3px;
		}
		textarea{
			margin-bottom: 0px;
		}
		.send-mail {
		    margin-left: 26px;
		}
		
		/* 	Slider
		============================================ */
		
		#slideout {
		  position: fixed;
		  top: 40%;
		  left: 0;
		  -webkit-transition-duration: 0.3s;
		  -moz-transition-duration: 0.3s;
		  -o-transition-duration: 0.3s;
		  transition-duration: 0.3s;
		}
		#slideout_inner {
		  position: fixed;
		  top: 40%;
		  right: -132px;
		  border: 1px solid #BDDCEF;
		  background-color:#E7F2F9;
		  border-radius: 5px 0px 0px 5px;
		  padding: 5px;
		  -webkit-transition-duration: 0.3s;
		  -moz-transition-duration: 0.3s;
		  -o-transition-duration: 0.3s;
		  transition-duration: 0.3s;
		  z-index: 99999999999;
		}
		#slideout:hover {
		  right: 250px;
		  cursor: pointer;

		}
		#slideout:hover #slideout_inner {
		  right: 0;
		  cursor: pointer;
		  background-color: #CAE3F2;
		}
		
		#slideout_inner ul{
			list-style: none;
			margin: 0;
		}
		#slideout_inner img{
			position: fixed;
			width: 21px;
		}
		
		#slideout i{
			margin: 2px 6px 2px 2px;
		}		
		
/* ===============================================My CSS Starts here===================================================================== */		
  
  body{
	  font-family: "Nsegoeui","Helvetica Neue",Helvetica,Arial,sans-serif
  }
  .bodybg{
	  background-image:url(../images/bg/bg12.png);  
	  background-repeat:repeat;
  }
  
  /* external link icon*/
  .externallink a[href^="http"] {  
   		background: url('img/external-link.png') center right no-repeat;  
   		padding-right: 13px;  
	}
	
     
	#header{	  
		width:100%;
		height:70px;
		margin-top:0px;	    
	}
		
	#hnavbar{		           
		height: 160px;
		right:0%;
		width: 100%;
		z-index:1;
		z-index:40;
	}	
			
		#hnavlist{position:relative;}
        #hnavlist li{margin:0;padding:0;list-style:none;position:absolute;top:0;}
        #hnavlist li, #hnavlist a{height:114px;display:block;}

        #home{right:178px;width:38px;}
        #home{background:url('img_navsprites_hover.png') 0 0;opacity:1;}
				
        #home a:hover{background: url('img_navsprites_hover.png') -152px 0px;
				opacity:0.1;
				-moz-transition: opacity 1s linear;
				-webkit-transition: opacity 1s ease-in;
				-o-transition: opacity 1s linear;
				transition: opacity 1s linear;
				}

        #portfolio{right:126px;width:38px;}
        #portfolio{background:url('img_navsprites_hover.png') -38px 0;opacity:1;}
        #portfolio a:hover{
			background: url('img_navsprites_hover.png') -190px 0px;
			opacity:0.1;
				-moz-transition: opacity 1s linear;
				-webkit-transition: opacity 1s ease-in;
				-o-transition: opacity 1s linear;
				transition: opacity 1s linear;	
			}
        

        #about{right:78px;width:38px;}
        #about{background:url('img_navsprites_hover.png') -76px 0;opacity:1;}
        #about a:hover{background: url('img_navsprites_hover.png') -228px 0px;
		opacity:0.1;
				-moz-transition: opacity 1s linear;
				-webkit-transition: opacity 1s ease-in;
				-o-transition: opacity 1s linear;
				transition: opacity 1s linear;}

		
		#contact{right:30px;width:38px;}
        #contact{background:url('img_navsprites_hover.png') -114px 0;opacity:1;}
        #contact a:hover{background: url('img_navsprites_hover.png') -266px 0px;
		opacity:0.1;
				-moz-transition: opacity 1s linear;
				-webkit-transition: opacity 1s ease-in;
				-o-transition: opacity 1s linear;
				transition: opacity 1s linear;}
	
	/*  ---------------------------------------Portfolio paint Page Here--------------------------------------------*/
	
		
	#portfolio_line{
	  position:absolute;
	  top:0px;
	  height:15px;
	  width:100%;
	  background-color:#49a514;
	  box-shadow: inset 0px 5px 8px #000;
	} 
	
  	#animDesign {
	  background: transparent url("../images/portfolioAnimation/design_1.png") 0 0px no-repeat;
	}
	
	#animAcad {
	  background: transparent url("../images/portfolioAnimation/acad_1.png") 0 0px no-repeat;
	}
	
	.animContainer{	
		margin:0 auto 40px;
		max-width: 1000px;
	}
	
	.singleAnim{
		margin: 20px auto 0;
		width: 337px;
		height: 262px;
		text-align: center;
		position: relative;
	}
	
	.animText{
		position: absolute;
		text-decoration: none;
		color: rgb(56, 56, 56);
		margin: 165px 0 0 -140px;
		font-size: 30px;
		font-family: "Diavlo";
		text-shadow: 1px 1px 3px grey;
	}
	
	.animTextDesign{
		margin-left: -117px;
	}
	
	.animDesc{
		margin: 0 auto;
		width: 337px;
		text-align: center;	
	}	
	
	
	/*  ---------------------------------------Portfolio Acad Page Here--------------------------------------------*/
	
	.tab-pane >h2{
		position: relative;
		z-index: 100;
		margin-bottom: 20px;
	}
	#sidenav > li.active a
	 {
	    position:relative;
	    color:#fff;
	    background:#0088CC;
	    
	    clear:both;
	    padding:8px 10px 8px 27px;
	    margin-left:-15px;
	    margin-bottom:0px;
	    -moz-box-shadow:2px 2px 0 rgba(0,0,0,0.1);
	    -webkit-box-shadow:2px 2px 0 rgba(0,0,0,0.1);
	    -o-box-shadow:2px 2px 0 rgba(0,0,0,0.1);
	    box-shadow:2px 2px 0 rgba(0,0,0,0.1);
	}
	
	#sidenav > li a:hover
	 {
	    position:relative;
	    color:#fff;
	    background:rgba(0, 136, 204, 0.54) !important;;
	    
	    clear:both;
	    padding:8px 10px 8px 27px;
	    margin-left:-15px;
	    margin-bottom:0px;
	    -moz-box-shadow:2px 2px 0 rgba(0,0,0,0.1);
	    -webkit-box-shadow:2px 2px 0 rgba(0,0,0,0.1);
	    -o-box-shadow:2px 2px 0 rgba(0,0,0,0.1);
	    box-shadow:2px 2px 0 rgba(0,0,0,0.1);
	}
	
	#sidenav > li.active a:before,
	#sidenav > li a:hover:before
	{
	    content:" ";
	    background:url("../images/unused/ribbon.png");
	    display:block;
	    width:10px;
	    height:10px;
	    position:absolute;
	    bottom:0;
	    left:0;
	    margin-bottom:-10px;
	    z-index:-1;
	}​
	
	#sidenav > li a:hover {
		-webkit-transition: all 0.2s ease;
		-moz-transition: all 0.2s ease;
		-o-transition: all 0.2s ease;
		transition: all 0.2s ease;
	}
	
	
	#sidebar .well {
		-moz-box-shadow:1px 1px 3px #CCC;
	    -webkit-box-shadow:1px 1px 3px #CCC;
	    -o-box-shadow:1px 1px 3px #CCC;
	    box-shadow:1px 1px 3px #CCC;	
	}
	
	#sidebar .well:before{
/* 		background:url("../images/unused/Tape@2X.png") !important; */
		content:'';
		display:block;
		height:23px;
		width:80px;
		background:url("../images/unused/Tape@2X.png") no-repeat;
		margin:-17px auto 5px;
	}
	
	.control-custom-left{
		left:-32px !important
	}
	
	.control-custom-right{
		right:-32px !important
	}
	
	.space-recyclers-video{
		width: 100%;
		max-width: 480px;
	}

	.project-summary {
	    background-color: #F5F5F5;
	    border: 1px solid #E3E3E3;
	    box-shadow: 1px 1px 3px #CCCCCC;
	    padding: 10px;
	}
	
	.small-box {
		margin: 2em auto 0;
		position: relative;
		width: 100%;
		-webkit-box-shadow: 0 1px 7px rgba(0, 0, 0, .2);
		-moz-box-shadow: 0 1px 7px rgba(0, 0, 0, .2);
		-ms-box-shadow: 0 1px 7px rgba(0, 0, 0, .2);
		-o-box-shadow: 0 1px 7px rgba(0, 0, 0, .2);
		box-shadow: 0 1px 7px rgba(0, 0, 0, .2);
	}
		
		.small-box.nosignup {
			margin-top: 1.8em;
	}
		
		.top-corners:after,.top-corners:before {
		background: url("../images/bg/bg12.png") repeat scroll 0 0 #F5F5F5;
		content:'';
		height:30px;
		position:absolute;
		top:-20px;
		width:60px;
		z-index:10;
		-webkit-box-shadow:0 6px 9px -8px hsla(0,0%,0%,.25);
		-moz-box-shadow:0 6px 9px -8px hsla(0,0%,0%,.25);
		box-shadow:0 6px 9px -8px hsla(0,0%,0%,.25);
	}
		
		.top-corners:after {
		left:-35px;
		border-color:#f5f5f5;
		border-bottom:1px solid rgba(255, 255, 255, 0.3);
		-webkit-transform:rotate(-45deg);
		-moz-transform:rotate(-45deg);
		-ms-transform:rotate(-45deg);
		-o-transform:rotate(-45deg);
		transform:rotate(-45deg);
	}
		
		.top-corners:before {
		right:-35px;
		border-color:#f5f5f5;
		border-bottom:1px solid rgba(255, 255, 255, 0.3);
		-webkit-transform:rotate(45deg);
		-moz-transform:rotate(45deg);
		-ms-transform:rotate(45deg);
		-o-transform:rotate(45deg);
		transform:rotate(45deg);
	}
		
		.bottom-corners:after,.bottom-corners:before {
		background: url("../images/bg/bg12.png") repeat scroll 0 0 #F5F5F5;
		content:'';
		height:30px;
		position:absolute;
		bottom:-20px;
		width:60px;
		-webkit-box-shadow:0 6px 9px -8px hsla(0,0%,0%,.25);
		-moz-box-shadow:0 6px 9px -8px hsla(0,0%,0%,.25);
		box-shadow:0 6px 9px -8px hsla(0,0%,0%,.25);
	}
		
		.bottom-corners:after {
		left:-35px;
		border-color:#f5f5f5;
		border-bottom:1px solid rgba(255, 255, 255, 0.3);
		-webkit-transform:rotate(-135deg);
		-moz-transform:rotate(-135deg);
		-ms-transform:rotate(-135deg);
		-o-transform:rotate(-135deg);
		transform:rotate(-135deg);
	}
		
		.bottom-corners:before {
		right:-35px;
		border-color:#f5f5f5;
		border-bottom:1px solid rgba(255, 255, 255, 0.3);
		-webkit-transform:rotate(135deg);
		-moz-transform:rotate(135deg);
		-ms-transform:rotate(135deg);
		-o-transform:rotate(135deg);
		transform:rotate(135deg);
	}
	
	.project-info {
	    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
	    box-sizing: border-box;         /* Opera/IE 8+ */
	    background-color: white;
	    border: 1px solid #E9E9E9;
	    box-shadow: 0 0 2px #E9E9E9;
	    padding: 15px;
	    width: auto;
	    max-width: 450px;
	    margin-top: -5px;
	}
	
	.project-info p {
	    margin-bottom: 0;
	}
	
	.project-heading{
		font-weight: bold;
	}
	
	.project-desc{
		font-size: 13px;
	}
	
	.project-logo{
		z-index: 100;
		position: relative;
		margin-bottom: 35px;
	}
	
	.acad-content{
		padding-bottom: 40px;
	}

  /*  ---------------------------------------Logo--------------------------------------------*/
  #logo
        {
		position:absolute;
		top:0px;
		height:149px;
		width:163px;
		left:5%;
		z-index: 3;
		background:url(../images/logo/YS_logo_sprite.png);
        }
		
	#logo:hover{
		
				background-position:-163px 0px;
		/*		
				-moz-transform: rotate(12deg);
				-webkit-transform: rotate(12deg) scale(0.95);
				-o-transform: rotate(12deg);
				transform: rotate(12deg);	
		*/		
	}
	
	#logo_small
        {
		position:absolute;
		top:0px;
		height:84px;
		width:93px;
		left:5%;
		z-index: 3;		
		background:url(../images/logo/YS_logo_sprite_small.png);
        }
		
	#logo_small:hover{		
				background-position:-93px 0px;				
	}
	
	#yashimage{
		-moz-transition: all 1s ease;
			-webkit-transition: all 1s ease;
			-o-transition: all 1s ease;
			transition: all 1s ease;
			
	}
	
	#yashimage:hover{
		-moz-transform: rotate(4deg);
				-webkit-transform: rotate(4deg) scale(1);
				-o-transform: rotate(4deg);
				transform: rotate(4deg);
	}
	
	/*  ---------------------------------------Portfolio Design Page Here--------------------------------------------*/	
	
	.topbar {
		position: relative;
		margin: 0 0 40px;
		box-shadow: 0 1px 0 #aaa;
	}
	
	.topbar h2 {
		padding-right: 20px;
		color: #666;
	}
	
	.topbar h3 {
		text-align: right;
		padding-left: 20px;
		color: #aaa;
	}
	
	.back {
	width: 40px;
	height: 40px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -20px 0 0 -20px;
	border-radius: 50%;
	text-align: center;
	line-height: 38px;
	color: white;
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.2);
	cursor: pointer;
	display: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#name {
    display: inline-block;
    float: right;
}
 /*  ---------------------------------------Contact Page Here--------------------------------------------*/

  
  #contact_line{
	  position:absolute;
	  top:0px;
	  height:15px;
	  width:100%;
	  background-color:#5b6681;
	  box-shadow: inset 0px 5px 8px #000;
  }
  
  #contact_info{
	  padding-top:50px;
  }
  
  #contacts_info h2{
	  font: 30px DiavloBook;
	  color: #475371;
	  text-shadow: 1px 1px 1px #888;
  }
  
 #contact_col1{
	
    padding: 20px 0 0;
	border-top: 3px solid #342211;
  }
  
    #contact_col2{
	
    padding: 20px 0 0;
	border-top: 3px solid #342211;
  }
  
    #contact_col3{
	
    padding: 20px 0 0;
	border-top: 3px solid #342211;
  }
  
 
  
 #talk{
	  position:absolute;
	  top:85px;
	  right:50px;
	  
	    }
		
  #testcase{
	  text-align:center;
	  font: 50px calibri;
	  color: #696969;
	  text-shadow: 1px 1px 3px #888;
	  margin:0px;  
	  
  }
  
 
  .textstyle{
	  font:Calibri;
	  color:#000;
  }
  
  label.error {
	color: #ff0600;
	font-size: 12px;
	list-style-position: inside;
	padding: 5px 0 0;
	margin: 0px 0px 0px 0px;
	}
	label.valid {
	color: #468847 !important;
	font-size: 12px;
	list-style-position: inside;
	padding: 5px 0 0;
	margin: 0px 0px 0px 0px;
	}
  
   /*  ---------------------------------------About Page Here--------------------------------------------*/
 
  #about_line{
	  position:absolute;
	  top:0px;
	  height:15px;
	  width:100%;
	  background-color:#e26de3;
	  box-shadow: inset 0px 5px 8px #000;

	  
}
  
  #about_info h2{
	  font: 30px DiavloBook;
	  color: #d35cd5;
	  text-shadow: 1px 1px 1px #888;
	  border-bottom: 3px solid #342211;
  }
	  
  
   #about_col1{
	
    padding: 20px 0 0;
  }
   #about_col1 a{
	   text-decoration:none;
  }
    #about_col2{
	
    /*padding: 20px 0 0;*/
	/*border-top: 3px solid #342211;*/
  }
  
  #about-pills li >a{
	  padding: 6px 12px 6px 8px !important;
  }
  
  .textquote{
		/*
		letter-spacing: 0px;
		padding:0px 0px 30px 70px;
		background: #fff url(../images/quote_medium.png) no-repeat 0px 5px;
		color: #777;
		height: 80px; 
		vertical-align: middle;
		display: table-cell;
		margin-top: 15px;
		font-size: 22px;
		font-style: italic;
		line-height: 20px;
	     */
		background: url(../images/quote_medium.png) no-repeat 0px 5px;
	}
	
  
  /*---------------------------------------Home Page Here--------------------------------------------*/
  
  
  #home_line{
	  position:absolute;
	  top:0px;
	  height:15px;
	  width:100%;
	  background-color:#cf0e0a;
	  box-shadow: inset 0px 5px 8px #000;	  
  }
  
  #home_about{

  }
  
  #home_about h1{
	  font: bold 60px DiavloBook;
	  color: #9c1010;
	  text-shadow: 1px 1px 3px #888;
	  margin:0px;
	  padding:0px;  
  }

  #home_about h2{
	  font: 50px calibri;
	  color: #696969;
	  text-shadow: 1px 1px 3px #888;
	  margin:0px;
	  font-family:DiavloBook; 
  }
  #home_about h2 a{
	  text-decoration:none;
	  color:#9c1010;
  }

  #home_about h2 a:hover {  
   color:#D35CD5; 

   -webkit-transition:color 0.6s ease-in;  
   -moz-transition:color 0.6s ease-in;  
   -o-transition:color 0.6s ease-in;  
   transition:color 0.6s ease-in;
  
}  
    #home_about h3{
	  font-size:28px;
	  color: #696969;
	  text-shadow: 1px 1px 1px #888; 
	  font-family:DiavloBook;
	  line-height: 30px;	  
  } 
  #home_about h3 a{
	  text-decoration:none;
	  color:#9c1010;
  }

  #home_about h3 a:hover {  
   color:#475371;
   -webkit-transition:color 0.6s linear;  
   -moz-transition:color 0.6s linear;  
   -o-transition:color 0.6s linear;  
   transition:color 0.6s linear;  
}

 .footerRibbon{
	 height: 10px;
	 width: 100%;
	 bottom: 0px;
	 background-image:url(../images/footer_ribbon.png);
 }
 
 .home-screen{
	 background-image: url("../images/unused/homeScreen/MacScreen.png");
	 max-width: 700px;
	 margin: -60px auto 60px;
	 height: 500px;
	 background-size: 100%;
	 background-repeat: no-repeat;
	 position: relative 
 }
 
 .home-mouse {
    bottom: -21px;
    position: absolute;
    right: 58px;
}
 .coffee-cup{
	position: absolute !important;
	right: -56px;
	bottom: 0px;	 
 }
 
 .home-keyboard{
	bottom: -65px;
    position: absolute;
    right: 198px;
 }
 
 .home-r-arrow{
	background-image: url("../images/unused/homeScreen/arrow-right.png");
	height: 145px;
	width: 66px;
	float: right;	 
 }
 
 .home-l-arrow{
	background-image: url("../images/unused/homeScreen/arrow-left.png");
	height: 145px;
	width: 66px;
	float: left;	 
 }
 
 #homeCarousel{
	 position: relative;
	 display: none;	
 }
 
.cup-smoke1{
	position:absolute;
	display:block;	
	width:78px;
	height:89px;
	left:15px;
	top:-120px;
	opacity:1;
	z-index: 1000;
	-webkit-animation:cup-smoke1-fadeInOut 3s linear;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-play-state:running;
	-moz-animation:cup-smoke1-fadeInOut 3s linear;
	-moz-animation-iteration-count:infinite;
	-moz-animation-play-state:running;
	-ms-animation:cup-smoke1-fadeInOut 3s linear;
	-ms-animation-iteration-count:infinite;
	-ms-animation-play-state:running;}
	
.cup-smoke1#cup-smoke-1{
	background:url("../images/unused/homeScreen/smoke/smoke1.png");
	}
	
.cup-smoke1#cup-smoke-2{
	background:url("../images/unused/homeScreen/smoke/smoke2.png");
	-webkit-animation-delay:0.5s;
	-moz-animation-delay:0.5s;
	-ms-animation-delay:0.5s;
	}
	
.cup-smoke1#cup-smoke-3{
	background:url("../images/unused/homeScreen/smoke/smoke3.png");
	-webkit-animation-delay:1.5s;
	-moz-animation-delay:1.5s;
	-ms-animation-delay:1.5s;
	}
	
@-webkit-keyframes cup-smoke1-fadeInOut{
	0%{opacity:0;-webkit-transform:translatey(50px);} 
	50%{opacity:1;-webkit-transform:translatey(25px);} 
	100%{opacity:0;-webkit-transform:translatey(0);}
	}
	
@-moz-keyframes cup-smoke1-fadeInOut{
	0%{opacity:0;-moz-transform:translatey(50px);} 
	50%{opacity:1;-moz-transform:translatey(25px);} 
	100%{opacity:0;-moz-transform:translatey(0);}
	}
	
	
	/*========================portfolio Animation================================*/
.animated {
	-webkit-animation-fill-mode: both;
	-moz-animation-fill-mode: both;
	-ms-animation-fill-mode: both;
	-o-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-duration: 1s;
	-moz-animation-duration: 1s;
	-ms-animation-duration: 1s;
	-o-animation-duration: 1s;
	animation-duration: 1s;
}

.animated.hinge {
	-webkit-animation-duration: 2s;
	-moz-animation-duration: 2s;
	-ms-animation-duration: 2s;
	-o-animation-duration: 2s;
	animation-duration: 2s;
}

@-webkit-keyframes tada {
	0% {-webkit-transform: scale(1);}	
	10%, 20% {-webkit-transform: scale(0.9) rotate(-3deg);}
	30%, 50%, 70%, 90% {-webkit-transform: scale(1.1) rotate(3deg);}
	40%, 60%, 80% {-webkit-transform: scale(1.1) rotate(-3deg);}
	100% {-webkit-transform: scale(1) rotate(0);}
}

@-moz-keyframes tada {
	0% {-moz-transform: scale(1);}	
	10%, 20% {-moz-transform: scale(0.9) rotate(-3deg);}
	30%, 50%, 70%, 90% {-moz-transform: scale(1.1) rotate(3deg);}
	40%, 60%, 80% {-moz-transform: scale(1.1) rotate(-3deg);}
	100% {-moz-transform: scale(1) rotate(0);}
}

@-o-keyframes tada {
	0% {-o-transform: scale(1);}	
	10%, 20% {-o-transform: scale(0.9) rotate(-3deg);}
	30%, 50%, 70%, 90% {-o-transform: scale(1.1) rotate(3deg);}
	40%, 60%, 80% {-o-transform: scale(1.1) rotate(-3deg);}
	100% {-o-transform: scale(1) rotate(0);}
}

@keyframes tada {
	0% {transform: scale(1);}	
	10%, 20% {transform: scale(0.9) rotate(-3deg);}
	30%, 50%, 70%, 90% {transform: scale(1.1) rotate(3deg);}
	40%, 60%, 80% {transform: scale(1.1) rotate(-3deg);}
	100% {transform: scale(1) rotate(0);}
}

.tada {
	-webkit-animation-name: tada;
	-moz-animation-name: tada;
	-o-animation-name: tada;
	animation-name: tada;
}


/*-----------------------------------------------------------FontFace-----------------------------------------------------------*/

@font-face {
    font-family: 'DiavloBook';
    src: url('Fonts/diavlo_book_ii_37-webfont.eot');
    src: url('Fonts/diavlo_book_ii_37-webfont.eot?#iefix') format('embedded-opentype'),
         url('Fonts/diavlo_book_ii_37-webfont.woff') format('woff'),
         url('Fonts/diavlo_book_ii_37-webfont.ttf') format('truetype'),
         url('Fonts/diavlo_book_ii_37-webfont.svg#DiavloBook') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'GothicUltraOTRegular';
    src: url('gothic_ultra_ot-webfont.eot');
    src: url('gothic_ultra_ot-webfont.eot?#iefix') format('embedded-opentype'),
         url('gothic_ultra_ot-webfont.woff') format('woff'),
         url('gothic_ultra_ot-webfont.ttf') format('truetype'),
         url('gothic_ultra_ot-webfont.svg#GothicUltraOTRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CalligraffitiRegular';
    src: url('Calligraffiti-webfont.eot');
    src: url('Calligraffiti-webfont.eot?#iefix') format('embedded-opentype'),
         url('Calligraffiti-webfont.woff') format('woff'),
         url('Calligraffiti-webfont.ttf') format('truetype'),
         url('Calligraffiti-webfont.svg#CalligraffitiRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ColaborateLightRegular';
    src: url('Fonts/ColabLig-webfont.eot');
    src: url('Fonts/ColabLig-webfont.eot?#iefix') format('embedded-opentype'),
         url('Fonts/ColabLig-webfont.woff') format('woff'),
         url('Fonts/ColabLig-webfont.ttf') format('truetype'),
         url('Fonts/ColabLig-webfont.svg#ColaborateLightRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {  
	  font-family: "Nsegoeui";  
	  src: url('Fonts/segoeui.eot'); /* IE */  
	  src: url('Fonts/segoeui.ttf') format("truetype"); /* non-IE */  
	}

@font-face {  
	  font-family: "Lsegoeui";  
	  src: url('Fonts/segoeuil.eot'); /* IE */  
	  src: url('Fonts/segoeuil.ttf') format("truetype"); /* non-IE */  
	} 

@font-face {  
	  font-family: "SegoeL";  
	  src: url('Fonts/SegoeL.eot'); /* IE */  
	  src: url('Fonts/SegoeL.ttf') format("truetype"); /* non-IE */  
	}

@font-face {  
	  font-family: "SegoeR";  
	  src: url('Fonts/SegoeR.eot'); /* IE */  
	  src: url('Fonts/SegoeR.ttf') format("truetype"); /* non-IE */  
	}  

/*-----------------------------------------------------------FIndMe Widget-----------------------------------------------------------*/
.socials {
display:block;
width:32px;
height:32px;
background:url(../images/socials/share.png) no-repeat;
cursor:pointer;
position:relative;
}
.socials {
margin:0 auto;
}
.socials {
margin-bottom:50px;
}

ul.reset,
ul.reset li {
display:block;
list-style:none;
padding:0;
margin:0;
}

ul.reset li {
position:absolute;
}

ul.reset li a {
outline:none;
}

#content {
margin:0px;
width:32px;
}
a img {
border:none;
}

/*-----------------------------------------------------------CoffeeCup-----------------------------------------------------------*/

.coffee-anim{
	margin:80px auto 0px auto !important; 
	position:relative;
	width: 256px !important;
}
.cup-smoke{
	position:absolute;
	display:block;	
	width:200px;
	height:200px;
	left:30px;
	top:-120px;
	opacity:1;
	-webkit-animation:cup-smoke-fadeInOut 3s linear;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-play-state:running;
	-moz-animation:cup-smoke-fadeInOut 3s linear;
	-moz-animation-iteration-count:infinite;
	-moz-animation-play-state:running;
	-ms-animation:cup-smoke-fadeInOut 3s linear;
	-ms-animation-iteration-count:infinite;
	-ms-animation-play-state:running;}
	
.cup-smoke#cup-smoke-1{
	background:url(smoke/smoke1.png);
	}
	
.cup-smoke#cup-smoke-2{
	background:url(smoke/smoke2.png);
	-webkit-animation-delay:0.5s;
	-moz-animation-delay:0.5s;
	-ms-animation-delay:0.5s;
	}
	
.cup-smoke#cup-smoke-3{
	background:url(smoke/smoke3.png);
	-webkit-animation-delay:1.5s;
	-moz-animation-delay:1.5s;
	-ms-animation-delay:1.5s;
	}
	
@-webkit-keyframes cup-smoke-fadeInOut{
	0%{opacity:0;-webkit-transform:translatey(50px);} 
	50%{opacity:1;-webkit-transform:translatey(25px);} 
	100%{opacity:0;-webkit-transform:translatey(0);}
	}
	
@-moz-keyframes cup-smoke-fadeInOut{
	0%{opacity:0;-moz-transform:translatey(50px);} 
	50%{opacity:1;-moz-transform:translatey(25px);} 
	100%{opacity:0;-moz-transform:translatey(0);}
	}


/*-------------------------------------------------------------- Loader ---------------------------------------------------------------------*/

.loader {
	left: 50%;
	position: absolute;
	margin-left: -120px;
}

.loader i {
	display: inline-block;
	width: 40px;
	height: 40px;
	-webkit-animation: loading 1s linear infinite forwards;
	-moz-animation: loading 1s linear infinite forwards;
	-o-animation: loading 1s linear infinite forwards;
	-ms-animation: loading 1s linear infinite forwards;
	animation: loading 1s linear infinite forwards;
}

.cssanimations .loader span {
	display: none;
}

.no-cssanimations .loader i {
	display: none;
}

.loader i:nth-child(2){
	-webkit-animation-delay: 0.1s;
	-moz-animation-delay: 0.1s;
	-o-animation-delay: 0.1s;
	-ms-animation-delay: 0.1s;
	animation-delay: 0.1s;
}

.loader i:nth-child(3){
	-webkit-animation-delay: 0.2s;
	-moz-animation-delay: 0.2s;
	-o-animation-delay: 0.2s;
	-ms-animation-delay: 0.2s;
	animation-delay: 0.2s;
}

.loader i:nth-child(4){
	-webkit-animation-delay: 0.3s;
	-moz-animation-delay: 0.3s;
	-o-animation-delay: 0.3s;
	-ms-animation-delay: 0.3s;
	animation-delay: 0.3s;
}

.loader i:nth-child(5){
	-webkit-animation-delay: 0.4s;
	-moz-animation-delay: 0.4s;
	-o-animation-delay: 0.4s;
	-ms-animation-delay: 0.4s;
	animation-delay: 0.4s;
}

.loader i:nth-child(6){
	-webkit-animation-delay: 0.5s;
	-moz-animation-delay: 0.5s;
	-o-animation-delay: 0.5s;
	-ms-animation-delay: 0.5s;
	animation-delay: 0.5s;
}

@-webkit-keyframes loading{
	0%{
		opacity: 0;
		background-color: rgba(255,255,255,0.9);
	}

	100%{
		opacity: 1;
		-webkit-transform: scale(0.25) rotate(75deg);
		background-color: rgba(155,155,155,0.9);
	}
}

@-moz-keyframes loading{
	0%{
		opacity: 0;
		background-color: rgba(255,255,255,0.9);
	}

	100%{
		opacity: 1;
		-moz-transform: scale(0.25) rotate(75deg);
		background-color: rgba(155,155,155,0.9);
	}
}

@-o-keyframes loading{
	0%{
		opacity: 0;
		background-color: rgba(255,255,255,0.9);
	}

	100%{
		opacity: 1;
		-o-transform: scale(0.25) rotate(75deg);
		background-color: rgba(155,155,155,0.9);
	}
}

@-ms-keyframes loading{
	0%{
		opacity: 0;
		background-color: rgba(255,255,255,0.9);
	}

	100%{
		opacity: 1;
		-ms-transform: scale(0.25) rotate(75deg);
		background-color: rgba(155,155,155,0.9);
	}
}

@keyframes loading{
	0%{
		opacity: 0;
		background-color: rgba(255,255,255,0.9);
	}

	100%{
		opacity: 1;
		transform: scale(0.25) rotate(75deg);
		background-color: rgba(155,155,155,0.9);
	}
}

@media screen and (max-width: 680px){
	.topbar h2, .topbar h3 { text-align: left; padding: 0; display: block;}
	.back { left: auto; right: 0px; margin-left: 0px;}
}	

/****************************************************************************************************************/
/* icons */


[class^="icons-"], [class*=" icons-"] {
    background-image: url("../images/icons/mainIcon_sprite.png");
    background-position: 20px 20px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 20px;
    line-height: 20px;
    margin-top: 1px;
    vertical-align: text-top;
    width: 20px;
    margin-left: 2px;
}
.icons-profile{
	background-position: -60px 0;	
}
.icons-design{
	background-position: -40px 0;
}
.icons-development{
	background-position: -20px 0;
}
.icons-general{
	background-position: -100px 0;
}
.icons-awards{
	background-position: -80px 0;
}
.icons-resume{
	background-position: 0 0;
}
.icons-vcard{
	background-position: -120px 0;
}
.icons-recent{
	background-position: -140px 0;
}


.active .icons-profile{
	background-position: -60px -20px;	
}
.active .icons-design{
	background-position: -40px -20px;
}
.active .icons-development{
	background-position: -20px -20px;
}
.active .icons-general{
	background-position: -100px -20px;
}
.active .icons-awards{
	background-position: -80px -20px;
}
.active .icons-resume{
	background-position: 0 -20px;
}
.active .icons-vcard{
	background-position: -120px -20px;
}
.active .icons-recent{
	background-position: -140px -20px;
}





	
/* =============================================================Sticky Footer ===================================================
	The negative value for the margin in .wrapper is the same number as the height of .footer and .push. 
	The negative margin should always equal to the full height of the footer (including any padding or borders you may add).
	http://ryanfait.com/resources/footer-stick-to-bottom-of-page/
*/
* {
	margin: 0;
}
html, body {
	height: 100%;
}
.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -4em;
}
.footer, .push {
	height: 4em;
}