/* =======================================

		Main Stylesheet for My-Bootstrap-Site
		
		Innovations on Twitter Bootstrap
		
========================================== */

@import url('bootstrap.css');
@import url('bootstrap-responsive.css');

/*	Navbar Adjustments
		============================================= */

		/* Top Padding for responsive navbar-top-fixed */
				body { /* Add top padding for full-width layout */
					/*padding-top: 60px;*/
					padding-bottom: 0px;
				}
				@media (max-width: 979px) {
				  body {
				    padding-top: 0;
				  }
				}

				@media (max-width: 480px) {
					/* size down hero unit contents to fit a narrow viewport */
  			  .hero-unit {
					  padding: 0;
					  margin: 0;
					  background: transparent;
				  }
				  .hero-unit h1 {
					  font-size: 250%;
				  }
				  .hero-unit h2 {
					  font-size: 180%;
				  }
				}


/* 	Typography Tweaks
		============================================ */
		.alert a {
			font-weight: bold;
		}
		a.btn:hover {
				/* Transition for hovers */
					-webkit-transition: all 0.3s ease;
					-moz-transition: all 0.3s ease;
					-o-transition: all 0.3s ease;
					transition: all 0.3s ease;
		}

/* 	Rows and Columns
		============================================ */
		.row { /* more top and bottom padding on rows */
			padding: 20px 0;
		}
	
/* 	Pills and Tabs
		============================================ */

		.tab-content {
/*
		    display: table;
		    max-width: 90%;
*/
		}
		.tab-content > .active,
		.pill-content > .active {
/* 	    display: inline-block; */
		}
		.nav-pills li a h3 {
			font-size: 14px;
			line-height: 16px;
		}
		.nav-pills li.active a h3 {
			font-size: 14px;
			color: white;
		}
		#sidebar .well {
			padding: 4px 4px 0 4px;
		}
		#sidenav > li a {
			/* Transition for hovers */
					-webkit-transition: all 0.2s ease;
					-moz-transition: all 0.2s ease;
					-o-transition: all 0.2s ease;
					transition: all 0.2s ease;
		}
		#sidenav > li.active a,
		#sidenav > li a:hover {
			margin-left: -10px;
			padding-left: 20px;
		}
	


/* 	For Code Snippets
		============================================ */
		
		code, pre, pre.prettyprint {
			background-color: #fee9cc;
		}
		pre, pre.prettyprint {
			padding: 16px 20px;
			margin: 10px 0;
			-webkit-border-radius: 6px;	
			-moz-border-radius: 6px;
			border-radius: 6px;
			max-width: 100%;
		}
		
		.alert pre {
			text-shadow: none;
		}
		
		/* Pretty printing styles. Used with prettify.js. */
		
		/* SPAN elements with the classes below are added by prettyprint. */
		.pln { color: #000 }  /* plain text */
		
		@media screen {
		  .str { color: #080 }  /* string content */
		  .kwd { color: #008 }  /* a keyword */
		  .com { color: #800 }  /* a comment */
		  .typ { color: #606 }  /* a type name */
		  .lit { color: #066 }  /* a literal value */
		  /* punctuation, lisp open bracket, lisp close bracket */
		  .pun, .opn, .clo { color: #660 }
		  .tag { color: #008 }  /* a markup tag name */
		  .atn { color: #606 }  /* a markup attribute name */
		  .atv { color: #080 }  /* a markup attribute value */
		  .dec, .var { color: #606 }  /* a declaration; a variable name */
		  .fun { color: red }  /* a function name */
		}
		
		/* Use higher contrast and text-weight for printable form. */
		@media print, projection {
		  .str { color: #060 }
		  .kwd { color: #006; font-weight: bold }
		  .com { color: #600; font-style: italic }
		  .typ { color: #404; font-weight: bold }
		  .lit { color: #044 }
		  .pun, .opn, .clo { color: #440 }
		  .tag { color: #006; font-weight: bold }
		  .atn { color: #404 }
		  .atv { color: #060 }
		}

		pre.prettyprint { /* customized by DC */
			/* padding: 2px;
			border: 1px solid #888  */
			}
				
		/* Specify class=linenums on a pre to get line numbering */
		ol.linenums { margin-top: 0; margin-bottom: 0 } /* IE indents via margin-left */
		li.L0,
		li.L1,
		li.L2,
		li.L3,
		li.L5,
		li.L6,
		li.L7,
		li.L8 { list-style-type: none }
		/* Alternate shading for lines */
		li.L1,
		li.L3,
		li.L5,
		li.L7,
		li.L9 { background: #eee }
		
/* 	My CSS Starts here
		================================================================================================================================ */		
.bodybg{
	  background-image:url(../images/back1.png);
	  background-repeat:repeat;
  }
  
  /* external link icon*/
  .externallink a[href^="http"] {  
   background: url('img/external_links/grey-darker/external-link-grey-dark02-Shapes4FREE.png') center right no-repeat;  
   padding-right: 13px;  
	}
	

  
  
  #header{	  
	  width:100%;
	  height:70px;
	  margin-top:0px;	    
  }
  #hnavbar
        {			           
	        height: 160px;
            right:0%;
            width: 100%;
            z-index:1;
			z-index:40;
        }	
			
		#hnavlist{position:relative;}
        #hnavlist li{margin:0;padding:0;list-style:none;position:absolute;top:0;}
        #hnavlist li, #hnavlist a{height:114px;display:block;}

        #home{right:178px;width:38px;}
        #home{background:url('img_navsprites_hover.png') 0 0;opacity:1;}
				
        #home a:hover{background: url('img_navsprites_hover.png') -152px 0px;
				opacity:0.1;
				-moz-transition: opacity 1s linear;
				-webkit-transition: opacity 1s ease-in;
				-o-transition: opacity 1s linear;
				transition: opacity 1s linear;
				}

        #portfolio{right:126px;width:38px;}
        #portfolio{background:url('img_navsprites_hover.png') -38px 0;opacity:1;}
        #portfolio a:hover{
			background: url('img_navsprites_hover.png') -190px 0px;
			opacity:0.1;
				-moz-transition: opacity 1s linear;
				-webkit-transition: opacity 1s ease-in;
				-o-transition: opacity 1s linear;
				transition: opacity 1s linear;	
			}
        

        #about{right:78px;width:38px;}
        #about{background:url('img_navsprites_hover.png') -76px 0;opacity:1;}
        #about a:hover{background: url('img_navsprites_hover.png') -228px 0px;
		opacity:0.1;
				-moz-transition: opacity 1s linear;
				-webkit-transition: opacity 1s ease-in;
				-o-transition: opacity 1s linear;
				transition: opacity 1s linear;}

		
		#contact{right:30px;width:38px;}
        #contact{background:url('img_navsprites_hover.png') -114px 0;opacity:1;}
        #contact a:hover{background: url('img_navsprites_hover.png') -266px 0px;
		opacity:0.1;
				-moz-transition: opacity 1s linear;
				-webkit-transition: opacity 1s ease-in;
				-o-transition: opacity 1s linear;
				transition: opacity 1s linear;}
	
	/*  ---------------------------------------Portfolio paint Page Here--------------------------------------------*/
	
		
	#portfolio_line{
	  position:absolute;
	  top:0px;
	  height:15px;
	  width:100%;
	  background-color:#49a514;
	  box-shadow: inset 0px 5px 8px #000;
  }
  
    #twoanim td{
	  text-align:center;
	  text-decoration:none;
	  color:#000;	  
  }
  
   #twoanim a{
	  text-align:center;
	  text-decoration:none;
	  color:#000;	  
  }
  
  /*  ---------------------------------------Logo--------------------------------------------*/
  #logo
        {
		position:absolute;
		top:0px;
		height:149px;
		width:163px;
		left:5%;
		z-index: 3;
		
		background:url(../images/YS_logo_sprite.png);
		
			/*
			position:absolute;            
	        top:5px;
            height: 160px;
            left: 5%;
            width: 156px;
            z-index: 3;
			
			
			-moz-transition: all 1s ease;
			-webkit-transition: all 1s ease;
			-o-transition: all 1s ease;
			transition: all 1s ease;
			*/
        }
		
	#logo:hover{
		
				background-position:-163px 0px;
		/*		
				-moz-transform: rotate(12deg);
				-webkit-transform: rotate(12deg) scale(0.95);
				-o-transform: rotate(12deg);
				transform: rotate(12deg);	
		*/		
	}
	
	#yashimage{
		-moz-transition: all 1s ease;
			-webkit-transition: all 1s ease;
			-o-transition: all 1s ease;
			transition: all 1s ease;
			
	}
	
	#yashimage:hover{
		-moz-transform: rotate(4deg);
				-webkit-transform: rotate(4deg) scale(1);
				-o-transform: rotate(4deg);
				transform: rotate(4deg);
	}
 /*  ---------------------------------------Contact Page Here--------------------------------------------*/

  
  #contact_line{
	  position:absolute;
	  top:0px;
	  height:15px;
	  width:100%;
	  background-color:#5b6681;
	  box-shadow: inset 0px 5px 8px #000;
  }
  
  #contact_info{
	  padding-top:50px;
  }
  
  #contacts_info h2{
	  font: 30px DiavloBook;
	  color: #475371;
	  text-shadow: 1px 1px 1px #888;
  }
  
 #contact_col1{
	
    padding: 20px 0 0;
	border-top: 3px solid #342211;
  }
  
    #contact_col2{
	
    padding: 20px 0 0;
	border-top: 3px solid #342211;
  }
  
    #contact_col3{
	
    padding: 20px 0 0;
	border-top: 3px solid #342211;
  }
  
 
  
 #talk{
	  position:absolute;
	  top:85px;
	  right:50px;
	  
	    }
		
  #testcase{
	  text-align:center;
	  font: 50px calibri;
	  color: #696969;
	  text-shadow: 1px 1px 3px #888;
	  margin:0px;  
	  
  }
  
 
  .textstyle{
	  font:Calibri;
	  color:#000;
  }
  
   /*  ---------------------------------------About Page Here--------------------------------------------*/
 
  #about_line{
	  position:absolute;
	  top:0px;
	  height:15px;
	  width:100%;
	  background-color:#e26de3;
	  box-shadow: inset 0px 5px 8px #000;

	  
}
  
  #about_info h2{
	  font: 30px DiavloBook;
	  color: #d35cd5;
	  text-shadow: 1px 1px 1px #888;
	  border-bottom: 3px solid #342211;
  }
	  
  
   #about_col1{
	
    padding: 20px 0 0;
  }
   #about_col1 a{
	   text-decoration:none;
	   
	   font-size:14px;
  }
    #about_col2{
	
    /*padding: 20px 0 0;*/
	/*border-top: 3px solid #342211;*/
  }
  
  
  /*  ---------------------------------------Home Page Here--------------------------------------------*/
  
  
  #home_line{
	  position:absolute;
	  top:0px;
	  height:15px;
	  width:100%;
	  background-color:#cf0e0a;
	  box-shadow: inset 0px 5px 8px #000;	  
  }
  
  #home_about{

  }
  
  #home_about h1{
	  font: bold 60px DiavloBook;
	  color: #9c1010;
	  text-shadow: 1px 1px 3px #888;
	  margin:0px;
	  padding:0px;  
  }

  #home_about h2{
	  font: 50px calibri;
	  color: #696969;
	  text-shadow: 1px 1px 3px #888;
	  margin:0px;
	  font-family:DiavloBook; 
  }
  #home_about h2 a{
	  text-decoration:none;
	  color:#9c1010;
  }

  #home_about h2 a:hover {  
   color:#D35CD5; 

   -webkit-transition:color 0.6s ease-in;  
   -moz-transition:color 0.6s ease-in;  
   -o-transition:color 0.6s ease-in;  
   transition:color 0.6s ease-in;
  
}  
    #home_about h3{
	  font-size:28px;
	  color: #696969;
	  text-shadow: 1px 1px 1px #888; 
	  font-family:DiavloBook;
	  line-height: 30px;	  
  } 
  #home_about h3 a{
	  text-decoration:none;
	  color:#9c1010;
  }

  #home_about h3 a:hover {  
   color:#475371;
   -webkit-transition:color 0.6s linear;  
   -moz-transition:color 0.6s linear;  
   -o-transition:color 0.6s linear;  
   transition:color 0.6s linear;  
}



@font-face {
    font-family: 'DiavloBook';
    src: url('Fonts/diavlo_book_ii_37-webfont.eot');
    src: url('Fonts/diavlo_book_ii_37-webfont.eot?#iefix') format('embedded-opentype'),
         url('Fonts/diavlo_book_ii_37-webfont.woff') format('woff'),
         url('Fonts/diavlo_book_ii_37-webfont.ttf') format('truetype'),
         url('Fonts/diavlo_book_ii_37-webfont.svg#DiavloBook') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'GothicUltraOTRegular';
    src: url('gothic_ultra_ot-webfont.eot');
    src: url('gothic_ultra_ot-webfont.eot?#iefix') format('embedded-opentype'),
         url('gothic_ultra_ot-webfont.woff') format('woff'),
         url('gothic_ultra_ot-webfont.ttf') format('truetype'),
         url('gothic_ultra_ot-webfont.svg#GothicUltraOTRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CalligraffitiRegular';
    src: url('Calligraffiti-webfont.eot');
    src: url('Calligraffiti-webfont.eot?#iefix') format('embedded-opentype'),
         url('Calligraffiti-webfont.woff') format('woff'),
         url('Calligraffiti-webfont.ttf') format('truetype'),
         url('Calligraffiti-webfont.svg#CalligraffitiRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ColaborateLightRegular';
    src: url('Fonts/ColabLig-webfont.eot');
    src: url('Fonts/ColabLig-webfont.eot?#iefix') format('embedded-opentype'),
         url('Fonts/ColabLig-webfont.woff') format('woff'),
         url('Fonts/ColabLig-webfont.ttf') format('truetype'),
         url('Fonts/ColabLig-webfont.svg#ColaborateLightRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.socials {
display:block;
width:32px;
height:32px;
background:url(../images/socials/share.png) no-repeat;
cursor:pointer;
position:relative;
}
.socials {
margin:0 auto;
}
.socials {
margin-bottom:50px;
}

ul.reset,
ul.reset li {
display:block;
list-style:none;
padding:0;
margin:0;
}

ul.reset li {
position:absolute;
}

ul.reset li a {
outline:none;
}

#content {
margin:0px;
width:32px;
}
a img {
border:none;
}

/*CoffeeCup*/

.cup-smoke{
	position:absolute;
	display:block;	
	width:200px;
	height:200px;
	left:30px;
	top:-120px;
	opacity:1;
	-webkit-animation:cup-smoke-fadeInOut 3s linear;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-play-state:paused;
	-moz-animation:cup-smoke-fadeInOut 3s linear;
	-moz-animation-iteration-count:infinite;
	-moz-animation-play-state:paused;
	-ms-animation:cup-smoke-fadeInOut 3s linear;
	-ms-animation-iteration-count:infinite;
	-ms-animation-play-state:paused;}
	
.cup-smoke#cup-smoke-1{
	background:url(smoke/smoke1.png);
	}
	
.cup-smoke#cup-smoke-2{
	background:url(smoke/smoke2.png);
	-webkit-animation-delay:0.5s;
	-moz-animation-delay:0.5s;
	-ms-animation-delay:0.5s;
	}
	
.cup-smoke#cup-smoke-3{
	background:url(smoke/smoke3.png);
	-webkit-animation-delay:1.5s;
	-moz-animation-delay:1.5s;
	-ms-animation-delay:1.5s;
	}
	
@-webkit-keyframes cup-smoke-fadeInOut{
	0%{opacity:0;-webkit-transform:translatey(50px);} 
	50%{opacity:1;-webkit-transform:translatey(25px);} 
	100%{opacity:0;-webkit-transform:translatey(0);}
	}
	
@-moz-keyframes cup-smoke-fadeInOut{
	0%{opacity:0;-moz-transform:translatey(50px);} 
	50%{opacity:1;-moz-transform:translatey(25px);} 
	100%{opacity:0;-moz-transform:translatey(0);}
	}
	
	
/* =============================================================Sticky Footer ===================================================
	The negative value for the margin in .wrapper is the same number as the height of .footer and .push. 
	The negative margin should always equal to the full height of the footer (including any padding or borders you may add).
	http://ryanfait.com/resources/footer-stick-to-bottom-of-page/
*/
* {
	margin: 0;
}
html, body {
	height: 100%;
}
.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -4em;
}
.footer, .push {
	height: 4em;
}