
<div class="span12">
	<div class="semi-display"></div>
    <input class="display span12">
</div>

<div class="row-fluid">
    <button class="calc-btn calc-act btn span3" data-action="+-">&#177;</button>
    <button class="calc-btn calc-act btn span3" data-action="sqrt">&#8730;</button>
    <button class="calc-btn calc-act btn span3" data-action="%">%</button>
    <button class="calc-btn calc-act btn span3" data-action="c">c</button>
</div>

<div class="row-fluid">
    <button class="calc-btn calc-num btn span3" data-value="7">7</button>
    <button class="calc-btn calc-num btn span3" data-value="8">8</button>
    <button class="calc-btn calc-num btn span3" data-value="9">9</button>
    <button class="calc-btn calc-act btn span3" data-action="/">&#247;</button>
</div>

<div class="row-fluid">
    <button class="calc-btn calc-num btn span3" data-value="4">4</button>
    <button class="calc-btn calc-num btn span3" data-value="5">5</button>
    <button class="calc-btn calc-num btn span3" data-value="6">6</button>
    <button class="calc-btn calc-act btn span3" data-action="*">x</button>
</div>

<div class="row-fluid">
    <button class="calc-btn calc-num btn span3" data-value="1">1</button>
    <button class="calc-btn calc-num btn span3" data-value="2">2</button>
    <button class="calc-btn calc-num btn span3" data-value="3">3</button>
    <button class="calc-btn calc-act btn span3" data-action="-">-</button>
</div>

<div class="row-fluid">
    <button class="calc-btn calc-num btn span3" data-value="0">0</button>
    <button class="calc-btn calc-num btn span3" data-value=".">.</button>
    <button class="calc-btn calc-act btn span3" data-action="=">=</button>
    <button class="calc-btn calc-act btn span3" data-action="+">+</button>
</div>
