<div id="slideout">
	<div id="slideout_inner">
    	<ul><span style="margin-left:28px">Quick Links</span>
    		<li><a href="portfolio_design.html"><i class="icons-design"></i>Portfolio-Design</a></li>
    		<li><a href="portfolio_academics.html"><i class="icons-development"></i>Portfolio-Academics</a></li>
    		<li><a href="recent.html"><i class="icons-recent"></i>Recent Work</a></li>
    		<li><a href="profile/index.html"><i class="icons-vcard"></i>vCard</a></li>
    		<li><a href="documents/Resume_YashSoni.pdf"><i class="icons-resume"></i>Resume</a></li>	    			    			    		
    	</ul>
	</div>
</div>