* {
margin: 0;
}
html, body {
height: 100%;
}

  .bodybg{
	  background-image:url(../images/back.jpg);
	  background-repeat:repeat;
  }

  
   #logo
        {
			position:absolute;            
	        top:5px;
            height: 160px;
            left: 5%;
            width: 156px;
            z-index: 3;
			
			
			-moz-transition: all 1s ease;
			-webkit-transition: all 1s ease;
			-o-transition: all 1s ease;
			transition: all 1s ease;
        }
		
	#logo:hover{
		
				-moz-transform: rotate(12deg);
				-webkit-transform: rotate(12deg) scale(0.95);
				-o-transform: rotate(12deg);
				transform: rotate(12deg);	
	}
    
  #container {
	  margin-top:80px;
	  position:relative;
  }
  
/*  ---------------------------------------Home Page Here--------------------------------------------*/
  
  #home_line{
	  position:absolute;
	  top:0px;
	  height:15px;
	  width:100%;
	  background-color:#cf0e0a;
	  box-shadow: inset 0px 5px 8px #000;	  
  }
  
  #home_about{
	  
	  margin-top:20px;
  }
  
  #home_about h1{
	  font: bold 80px DiavloBook;
	  color: #9c1010;
	  text-shadow: 1px 1px 3px #888;
	  margin:0px;
	  padding:0px;  
  }

  #home_about h2{
	  font: 50px calibri;
	  color: #696969;
	     text-shadow: 1px 1px 3px #888;
	  margin:0px;
	  font-family:DiavloBook; 
  }
  #home_about h2 a{
	  text-decoration:none;
	  color:#9c1010;
  }

  #home_about h2 a:hover {  
   color:#33F; 

   -webkit-transition:color 0.6s ease-in;  
   -moz-transition:color 0.6s ease-in;  
   -o-transition:color 0.6s ease-in;  
   transition:color 0.6s ease-in;
  
}  
    #home_about h3{
		font-size:28px;
	  color: #696969;
	  text-shadow: 1px 1px 1px #888; 
	  font-family:DiavloBook;  
  } 
  #home_about h3 a{
	  text-decoration:none;
	  color:#9c1010;
  }

  #home_about h3 a:hover {  
   color:#090; 

   -webkit-transition:color 0.6s linear;  
   -moz-transition:color 0.6s linear;  
   -o-transition:color 0.6s linear;  
   transition:color 0.6s linear;
  
}
  
  /*  ---------------------------------------Portfolio Page Here--------------------------------------------*/
  
   #portfolio_line{
	  position:absolute;
	  top:0px;
	  height:15px;
	  width:100%;
	  background-color:#49a514;
	  box-shadow: inset 0px 5px 8px #000;
  }
  
  #portfolio_info{
	  padding-top:50px;
  }
  #portfolio_info h2{
	  font: 30px DiavloBook;
	  color: #d35cd5;
	  text-shadow: 1px 1px 1px #888;
	 
  }
  
  #twoanim td{
	  text-align:center;
	  text-decoration:none;
	  color:#000;	  
  }
  
   #twoanim a{
	  text-align:center;
	  text-decoration:none;
	  color:#000;	  
  }
  /*  ---------------------------------------Portfolio paint Page Here--------------------------------------------*/

  .logoalign{
	  margin:auto;
  }
  
  /*  ---------------------------------------Projects Page Here--------------------------------------------*/
   #projects_col1{
	margin-top:30px;
	border-bottom-left-radius: 15px;
	border-top-right-radius: 15px;
	width:200px;
	height:600px;
	background-color:#CACACA;
	padding: 10px;
	text-align:left;
	
	-webkit-transition:background-color 0.5s ease-in-out;  
   -moz-transition:background-color 0.5s ease-in-out;  
   -o-transition:background-color 0.5s ease-in-out;  
   transition:background-color 0.5s ease-in-out;
	   
  }
  #projects_col1:hover{
	  background-color:#999;
	  
   -webkit-transition:background-color 0.5s ease-in-out;  
   -moz-transition:background-color 0.5s ease-in-out;  
   -o-transition:background-color 0.5s ease-in-out;  
   transition:background-color 0.5s ease-in-out;

	  
  }
  #projects_col1 a{
	text-decoration:none;
	color: #000;	   
  }
  
  #millee_col2{
	  margin-top:30px;
  }
  #millee_col2 h2{
	   font-size:25px;
	   text-align:center;
  }
  
  #gurukul_col2{
	  margin-top:30px;
	  text-align:justify;
  }
  #gurukul_col2 h2{
	   font-size:25px;
	   text-align:center;
  }
  
  #remote_col2{
	  margin-top:30px;
	  text-align:justify;
  }
   #remote_col2 h2{
	   font-size:25px;
	   text-align:center;

  }
  
    #DAlive_col2{
	  margin-top:30px;
	  text-align:justify;
  }
   #DALive_col2 h2{
	   font-size:25px;
	   text-align:center;

  }
  
  #shopper_col2{
	  margin-top:30px;
	  text-align:justify;
  }
   #shopper_col2 h2{
	   font-size:25px;
	   text-align:center;

  }
 
 #cg_col2{
	  margin-top:30px;
	  text-align:justify;
  }
 #cg_col2 h2{
	   font-size:25px;
	   text-align:center;

  }
  
 #fpga_col2{
	  margin-top:30px;
	  text-align:justify;
  }
 #fpga_col2 h2{
	   font-size:25px;
	   text-align:center;

  }
  
 #rowdi_col2{
	  margin-top:30px;
	  text-align:justify;
  }
 #rowdi_col2 h2{
	   font-size:25px;
	   text-align:center;

  }
 
  
   /*  ---------------------------------------About Page Here--------------------------------------------*/
 
  #about_line{
	  position:absolute;
	  top:0px;
	  height:15px;
	  width:100%;
	  background-color:#e26de3;
	  box-shadow: inset 0px 5px 8px #000;

	  
}

  }
  
  
  #about_info{
	  padding-top:50px;
  }
  #about_info h2{
	  font: 30px DiavloBook;
	  color: #d35cd5;
	  text-shadow: 1px 1px 1px #888;
	  border-bottom: 3px solid #342211;
  }
	  
  
   #about_col1{
	
    padding: 20px 0 0;
  }
   #about_col1 a{
	   text-decoration:none;
	   color:#C09;
	   font-size:18px;
  }
    #about_col2{
	width:300px;
		height:300px;
	margin-top:10px;
	background-image:url(../images/yash.png);
    /*padding: 20px 0 0;*/
	/*border-top: 3px solid #342211;*/
  }
  

  /*  ---------------------------------------Contact Page Here--------------------------------------------*/

  
  #contact_line{
	  position:absolute;
	  top:0px;
	  height:15px;
	  width:100%;
	  background-color:#5b6681;
	  box-shadow: inset 0px 5px 8px #000;
  }
  
  #contact_info{
	  padding-top:50px;
  }
  #contact_info h2{
	  font: 30px DiavloBook;
	  color: #475371;
	  text-shadow: 1px 1px 1px #888;
	  
  }
  
 #contact_col1{
	
    padding: 20px 0 0;
	border-top: 3px solid #342211;
  }
  
    #contact_col2{
	
    padding: 20px 0 0;
	border-top: 3px solid #342211;
  }
  
    #contact_col3{
	
    padding: 20px 0 0;
	border-top: 3px solid #342211;
  }
  
  #contact_col2 a{
	  text-decoration:none;
	  color:#000;
  }
  
  #contact_col3 a {
	  text-decoration:none;
	  color:#000;
  }
  
 #talk{
	  position:absolute;
	  top:85px;
	  right:50px;
	  
	    }
		
  #testcase{
	  text-align:center;
	  font: 50px calibri;
	  color: #696969;
	  text-shadow: 1px 1px 3px #888;
	  margin:0px;  
	  
  }
  
 
  .textstyle{
	  font:Calibri;
	  color:#000;
  }
  
   /*  ---------------------------------------Footer Here--------------------------------------------*/
.wrapper {
min-height: 100%;
height: auto !important;
height: 100%;
margin: 0 auto -42px;
}
  
.push{
	height:42px;
}
.footer {
height: 42px;
background-image:url(../images/shadow.png);
background-position:center;  
width:100%;
background-repeat:no-repeat;
}
.footer p{
	text-align:center;
	color:#000;
	font-family:ColaborateLightRegular;
}  
.footer a{
	text-align:center;
	color:#000;
}


  
    
   #header{
	  
	  width:100%;
	  height:70px;	    
  }
  #navbar
        {
			           
	        height: 160px;
            right:0%;
            width: 100%;
            z-index:1;
			z-index:40;
        }	
			
		#navlist{position:relative;}
        #navlist li{margin:0;padding:0;list-style:none;position:absolute;top:0;}
        #navlist li, #navlist a{height:114px;display:block;}

        #home{right:178px;width:38px;}
        #home{background:url('img_navsprites_hover.png') 0 0;opacity:1;}
				
        #home a:hover{background: url('img_navsprites_hover.png') -152px 0px;
				opacity:0.1;
				-moz-transition: opacity 1s linear;
				-webkit-transition: opacity 1s ease-in;
				-o-transition: opacity 1s linear;
				transition: opacity 1s linear;
				}

        #portfolio{right:126px;width:38px;}
        #portfolio{background:url('img_navsprites_hover.png') -38px 0;opacity:1;}
        #portfolio a:hover{
			background: url('img_navsprites_hover.png') -190px 0px;
			opacity:0.1;
				-moz-transition: opacity 1s linear;
				-webkit-transition: opacity 1s ease-in;
				-o-transition: opacity 1s linear;
				transition: opacity 1s linear;	
			}
        

        #about{right:78px;width:38px;}
        #about{background:url('img_navsprites_hover.png') -76px 0;opacity:1;}
        #about a:hover{background: url('img_navsprites_hover.png') -228px 0px;
		opacity:0.1;
				-moz-transition: opacity 1s linear;
				-webkit-transition: opacity 1s ease-in;
				-o-transition: opacity 1s linear;
				transition: opacity 1s linear;}

		
		#contact{right:30px;width:38px;}
        #contact{background:url('img_navsprites_hover.png') -114px 0;opacity:1;}
        #contact a:hover{background: url('img_navsprites_hover.png') -266px 0px;
		opacity:0.1;
				-moz-transition: opacity 1s linear;
				-webkit-transition: opacity 1s ease-in;
				-o-transition: opacity 1s linear;
				transition: opacity 1s linear;}

@font-face {
    font-family: 'DiavloBook';
    src: url('Fonts/diavlo_book_ii_37-webfont.eot');
    src: url('Fonts/diavlo_book_ii_37-webfont.eot?#iefix') format('embedded-opentype'),
         url('Fonts/diavlo_book_ii_37-webfont.woff') format('woff'),
         url('Fonts/diavlo_book_ii_37-webfont.ttf') format('truetype'),
         url('Fonts/diavlo_book_ii_37-webfont.svg#DiavloBook') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'GothicUltraOTRegular';
    src: url('gothic_ultra_ot-webfont.eot');
    src: url('gothic_ultra_ot-webfont.eot?#iefix') format('embedded-opentype'),
         url('gothic_ultra_ot-webfont.woff') format('woff'),
         url('gothic_ultra_ot-webfont.ttf') format('truetype'),
         url('gothic_ultra_ot-webfont.svg#GothicUltraOTRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CalligraffitiRegular';
    src: url('Calligraffiti-webfont.eot');
    src: url('Calligraffiti-webfont.eot?#iefix') format('embedded-opentype'),
         url('Calligraffiti-webfont.woff') format('woff'),
         url('Calligraffiti-webfont.ttf') format('truetype'),
         url('Calligraffiti-webfont.svg#CalligraffitiRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ColaborateLightRegular';
    src: url('Fonts/ColabLig-webfont.eot');
    src: url('Fonts/ColabLig-webfont.eot?#iefix') format('embedded-opentype'),
         url('Fonts/ColabLig-webfont.woff') format('woff'),
         url('Fonts/ColabLig-webfont.ttf') format('truetype'),
         url('Fonts/ColabLig-webfont.svg#ColaborateLightRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.socials {
display:block;
width:32px;
height:32px;
background:url(../images/socials/share.png) no-repeat;
cursor:pointer;
position:relative;
}
.socials {
margin:0 auto;
}
.socials {
margin-bottom:50px;
}

ul.reset,
ul.reset li {
display:block;
list-style:none;
padding:0;
margin:0;
}

ul.reset li {
position:absolute;
}

ul.reset li a {
outline:none;
}

#content {
margin:0px;
width:50px;
}
a img {
border:none;
}
